go 1.24.5

use (
	.
	apps/access-client
	apps/server
	apps/ctl
	apps/pack
	libs/dns
	libs/dsl
	libs/ingress
	libs/metadata_db
	libs/pkg
	libs/raft
	libs/uds
	libs/volume
	libs/workload_db
	modules/container
	modules/logger
	modules/schedule
	runtime_engine/containerd
	runtime_engine/docker
	runtime_engine/engine
	runtime_engine/systemd
	runtime_engine/windows_service
)
