go 1.24.5

use (
	.
	apps/controller
	apps/ctl
	apps/pack
	libs/docker
	libs/dsl
	libs/executor
	libs/firecracker
	libs/ingress
	libs/kubernetes
	libs/metadata_db
	libs/pkg
	libs/raft
	libs/systemd
	libs/dns
	libs/uds
	libs/volume
	libs/win-svc
	libs/workload_db
	modules/container
	modules/logger
	modules/schedule
)
